.small-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Stock status badge */
.stock-badge {
  background-color: rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  position: relative;
  border-radius: 7px;
  flex-shrink: 0;
}

.stock-badge-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: black;
  letter-spacing: 2.04px;
  line-height: 28.8px;
  white-space: pre;
}